.top-bar-collapse-copy .vector-1 {
  background: #737791;
  margin-bottom: 5px;
  width: 18px;
  height: 3px;
}
.top-bar-collapse-copy .vector-2 {
  background: #737791;
  margin: 0 7px 5px 0;
  width: 11px;
  height: 3px;
}
.top-bar-collapse-copy .vector-3 {
  background: #737791;
  margin-right: 11px;
  width: 7px;
  height: 3px;
}
.top-bar-collapse-copy .collapse-button {
  margin: 15px 14px 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18px;
  height: fit-content;
  box-sizing: border-box;
}
.top-bar-collapse-copy .xmlid-223 {
  width: 18.7px;
  height: 18.7px;
}
.top-bar-collapse-copy .magnifier {
  margin: 1.1px 11.1px 1.1px 0;
  display: flex;
  width: 18.7px;
  height: 18.7px;
  box-sizing: border-box;
}
.top-bar-collapse-copy .search-anythingfiles-documents-task {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: #737791;
}
.top-bar-collapse-copy .search-bar {
  border-radius: 16px;
  background: #F5F5F5;
  display: flex;
  flex-direction: row;
  padding: 14.5px 27.3px 14.5px 27.1px;
  box-sizing: border-box;
}
.top-bar-collapse-copy .container-1 {
  margin: 1px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.top-bar-collapse-copy .vector {
  width: 26.7px;
  height: 26.7px;
}
.top-bar-collapse-copy .mingcutetime-line {
  margin: 0 10.7px 9.7px 0;
  display: flex;
  width: 26.7px;
  height: 26.7px;
  box-sizing: border-box;
}
.top-bar-collapse-copy .container {
  margin-top: 6.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.6px;
  color: #1C75BC;
}
.top-bar-collapse-copy .container-2 {
  margin-top: 1.7px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.top-bar-collapse-copy .news {
  margin-bottom: 14px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: #F47827;
}
.top-bar-collapse-copy .container-7 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 178.2px;
  height: fit-content;
  box-sizing: border-box;
}
.top-bar-collapse-copy .thurs-1-jan {
  position: absolute;
  left: 60px;
  top: 8px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 10px;
  color: #1C75BC;
}
.top-bar-collapse-copy .frame-92 {
  border-radius: 8px;
  background: #DFF1FF;
  position: relative;
  padding: 11px 22.7px 3px 22.7px;
  width: 230px;
  height: fit-content;
  box-sizing: border-box;
}
.top-bar-collapse-copy .additional-menu {
  margin: 12px 24px 12px 0;
  width: 24px;
  height: 24px;
}
.top-bar-collapse-copy .container-5 {
  width: 24px;
  height: 24px;
}
.top-bar-collapse-copy .container-3 {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.top-bar-collapse-copy .notifications {
  border-radius: 8px;
  background: rgba(255, 92, 1, 0.08);
  position: relative;
  margin-right: 33px;
  display: flex;
  padding: 12px;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.top-bar-collapse-copy .usa {
  margin: 1.5px 14px 1.5px 0;
  width: 24px;
  height: 24px;
}
.top-bar-collapse-copy .eng {
  overflow-wrap: break-word;
  font-family: var(--text-text-semi-bold-1-font-family, 'Poppins');
  font-weight: var(--text-text-semi-bold-1-font-weight, 600);
  font-size: var(--text-text-semi-bold-1-font-size, 18px);
  color: #737791;
}
.top-bar-collapse-copy .text {
  margin-right: 13.3px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.top-bar-collapse-copy .vector-16 {
  width: 9.9px;
  height: 6px;
}
.top-bar-collapse-copy .chevron-down {
  margin: 10.5px 0;
  display: flex;
  width: 9.9px;
  height: 6px;
  box-sizing: border-box;
}
.top-bar-collapse-copy .languange {
  margin: 9.5px 0 11.5px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.top-bar-collapse-copy .container-4 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.top-bar-collapse-copy .nromaric {
  margin-right: 10.6px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  color: var(--greys-blue-grey-9001, #151D48);
}
.top-bar-collapse-copy .shape {
  width: 8px;
  height: 4px;
}
.top-bar-collapse-copy .group-21861 {
  margin: 18px 0 2px 0;
  display: flex;
  width: 8px;
  height: 4px;
  box-sizing: border-box;
}
.top-bar-collapse-copy .container-6 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.top-bar-collapse-copy .sadmin-dg {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.667;
  color: var(--greys-blue-grey-7001, #737791);
}
.top-bar-collapse-copy .user-profile {
  margin: 3px 0 1px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.top-bar-collapse-copy .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 348px;
  box-sizing: border-box;
}
.top-bar-collapse-copy .container {
  margin: 3px 0 1px 0;
  display: flex;
  flex-direction: row;
  width: 396px;
  height: fit-content;
  box-sizing: border-box;
}
.top-bar-collapse-copy {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 34px 36px 34px 21px;
  width: 1285px;
  box-sizing: border-box;
}
